@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

@font-face {
	font-family: 'Sora-Regular';
	src: url('../fonts/Sora-Regular.woff2') format('woff2'),
		 url('../fonts/Sora-Regular.woff') format('woff'),
		 url('../fonts/Sora-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Sora-Bold';
	src: url('../fonts/Sora-Bold.woff2') format('woff2'),
		 url('../fonts/Sora-Bold.woff') format('woff'),
		 url('../fonts/Sora-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Sora-Italic';
	src: url('../fonts/Sora-Italic.woff2') format('woff2'),
		 url('../fonts/Sora-Italic.woff') format('woff'),
		 url('../fonts/Sora-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
  }

:root {
	--color-text:#260B1F;
	--color-background:#F4EFE4;
	--color-accent: #443DFF;
	--color-pink: #F4A4C0;
	--color-purple: #A19EFF;
	--color-brown: #766266;

	--size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-2xl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;
}


*, *::after, *::before {
    box-sizing:border-box;  
}

*{
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	scroll-behavior: smooth;
}

body{
	font-family: 'ClashDisplay-Semibold', Sora-Regular, Helvetica ;
	font-size: var(--size-sm);

	color: var(--color-text);
	background-color: var(--color-background);
	/* background-color: #fceef5; */
	margin-bottom: var(--size-4xl);
}

img,svg {
	display: block;
	max-width: 100%;
	height: auto;
}

button, .button{
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit;
}

p, nav{
	font-family: 'Sora-Regular' , Helvetica ;
	text-align: justify;
}


/* .container{} */

/* xs */
@media (min-width: 475px) {
	.container{
		max-width: 475px;
	}
}

/* sm */
@media (min-width: 640px) {
	.container{
		max-width: 640px;
	}
}

/* md */
@media (min-width: 768px) {
	.container{
		max-width: 768px;
	}
}

/* lg */
@media (min-width: 1024px) {
	.container{
		max-width: 1024px;
	}

	.section {
		margin-top: 10rem;
	}
}

/* xl */
@media (min-width: 1280px) {
	.container{
		max-width: 1280px;
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.container{
		max-width: 1536px;
	}
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	/* border: solid 1px red; */
}

.section {
	margin-top: 5rem;
}


/* navigatie styling */
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}


/* header{
	position: sticky;
	top: 0;	
	z-index: 10;
	background-color: var(--color-background);
} */

nav ul{
	display: none;
}

.menu {
	color: var(--color-pink);
	width: var(--size-4xl);
	height: var(--size-4xl);
	display: block;
}

.mail {
	color: var(--color-pink);
	width: var(--size-2xl);
	height: var(--size-2xl);
	display: block;
}

.linkedin{
	width: var(--size-2xl);
	height: var(--size-2xl);
	display: block;
}

/* .homepage header nav li:nth-of-type(1){
	border: 1px solid var(--color-pink);
	padding: var(--size-xs) var(--size-sm) var(--size-xs) var(--size-sm);
	border-radius: 50px;
} */

/* md */
@media (min-width: 768px) {
	nav ul{
		display: flex;
		align-items: center;
		list-style: none;
		gap: 2em;
	}
	
	nav a {
		font-size: var(--size-xs);
		text-decoration: none;
		color: var(--color-pink);
		transition: color 0.3s;
	}
	
	nav a:hover{
		/* color: var(--color-accent); */
		color: var(--color-purple);
	}

	.menu{
		display: none;
	}
}




/* lg */
@media (min-width: 1024px) {
	nav a {
		font-size: var(--size-base)
	}
}

/* xl */
@media (min-width: 1280px)  {
	nav a {
		font-size: var(--size-lg)
	}
}

/* hero section styling */
section{
	gap: var(--size-lg);
}

.homepage section:nth-of-type(1){
	display: flex;
	flex-direction: column;
	margin-top: var(--size-6xl);
}

.homepage section:nth-of-type(1) img{
	width: 15em;
	/* height:max-content; */
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.homepage section:nth-of-type(1) div{
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.homepage h1 span{
	color: var(--color-pink);
	text-decoration: underline;
}

.button {
	background-color: var(--color-pink);
	text-decoration: none;
	display: inline-block;
	color: var(--color-background);
	padding: 0.5em 1em;
	border-radius: 6px;
	width: fit-content;
}

.homepage section:nth-of-type(1) a {
	margin-top: var(--size-sm);
	transition: background-color 0.3s;
}

.homepage section:nth-of-type(1) a:hover, .homepage section:nth-of-type(2) a:hover {
	background-color: var(--color-purple);
}

/* works deel */
.homepage article{
	/* margin-top: var(--size-7xl); */
	margin-top: var(--size-6xl);
	padding: 2em;
	/* background-color: var(--color-text); */
	background-color: rgb(244, 164, 192, 0.3);
	/* color: var(--color-background); */
	color: var(--color-text);
	border-radius: 6px;
}

/* styling blok 2 */
.homepage article:nth-of-type(2){
	background-color: rgb(161, 158, 255, 0.3);
	color: var(--color-text);
}

.homepage article:nth-of-type(2) a{
	background-color: var(--color-purple);
}

.homepage article:nth-of-type(2) a:hover{
	background-color: var(--color-pink);
}

.homepage article:nth-of-type(2) h2{
	color: var(--color-purple);
}


.homepage article img{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

.homepage article h2{
	color: var(--color-pink);
}

.homepage article div:nth-of-type(1) {
	padding: var(--size-sm);
	/* background-color: var(--color-background); */
	border-radius: 6px;
	margin-bottom: var(--size-lg);
}

.homepage article a{
	margin-top: var(--size-lg);
	width: 100%;
	text-align: center;
	transition: background-color 0.3s;
}

.homepage article p {
	margin-bottom: var(--size-sm);
}

/* hover */
@keyframes scaling-hover-works{
	0%{
		scale: 100%;
	}
	
	100%{
		scale: 110%;
	}
}

.homepage article img:hover{
	animation-name: scaling-hover-works;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}


@keyframes scaling-hover{
	0%{
		scale: 100%;
	}
	
	100%{
		scale: 95%
	}
}

.homepage section:nth-of-type(1) a:hover{
	animation-name: scaling-hover;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}





/* md */
@media (min-width: 768px){
	.homepage section:nth-of-type(1){
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.homepage section:nth-of-type(1) div {
		justify-content: center;
		max-width: 30em;
	}

	.homepage section h1, .about section h1{
		font-size: var(--size-3xl);
	}

	body{
		font-size: var(--size-sm);
	}

	.homepage article {
		display: flex;
		justify-content: space-between;
	}

	.homepage article:nth-of-type(2) {
		display: flex;
		/* flex-direction: row-reverse; */
		justify-content: space-between;
	}

	.homepage article div:nth-of-type(1){
		width: 50%;
		margin-bottom: 0;
	}

	.homepage article div:nth-of-type(2){
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.homepage article a{
		margin-top: auto;
	}
	
	.homepage section:nth-of-type(1) img{
		height: inherit;
	}

}



/* lg homepage*/
@media (min-width: 1024px) {
	.container{
		padding-left: 4rem;
		padding-right: 4rem;
	}

	/* .homepage section:nth-of-type(1), nav{
		padding-left: 4rem;
		padding-right: 4rem;
	} */

	.homepage section:nth-of-type(1) img {
		margin-right: 0;
		width: 15em;
	}

	.homepage section:nth-of-type(1) div {
		justify-content: center;
		max-width: 36em;
	}

	.homepage article {
		justify-content: space-around;
	}
	
	

	.homepage section h1, .about section h1{
		font-size: var(--size-3xl);
	}

	p, article a{
		font-size: var(--size-base);
	}

	.homepage section h2, .about section h2{
		font-size: var(--size-2xl);
	}

	/* .homepage section:nth-of-type(2){
		display: flex;
		gap: var(--size-5xl);
	}

	.homepage section:nth-of-type(2) div:nth-of-type(2){
		margin-top: 0;
	} */

	.homepage section:nth-of-type(1) a {
		font-size: var(--size-xl);
	}

	.homepage section:nth-of-type(2){
		margin-top: var(--size-10xl);
	}

	.homepage article div:nth-of-type(2){
		display: flex;
		flex-direction: column;
		
	}
	.homepage article a{
		margin-top: auto;
	}

}

/* xl homepage*/
@media (min-width: 1280px) {
	.homepage section:nth-of-type(1) img {
		margin-right: 0;
		width: 25em;
	}

	.homepage section h1, .about section h1{
		font-size: var(--size-5xl);
	}

	.homepage section h2{
		font-size: var(--size-3xl);
	}
	
	p{
		font-size: var(--size-lg);
	}
	
}











/* about page */
.about section:nth-of-type(1) h1{
	color: var(--color-pink);
}
.about section h2{
	color: var(--color-pink);
}

.about section:nth-of-type(1) p:nth-of-type(1) {
	margin-top: var(--size-xxs);
}

.about section:nth-of-type(1) div{
	margin-bottom: var(--size-6xl);
}

.about section:nth-of-type(1) img{
	max-width: 100%;
	width: 15em;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about section:nth-of-type(1){
	margin-bottom: var(--size-4xl);
}

.about section:nth-of-type(1) a{
	margin-top: var(--size-2xl);
	transition: background-color 0.3s;
}

.about section:nth-of-type(1) a:hover{
	background-color: var(--color-purple);
}


/* education section */
.about section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	gap: var(--size-4xl);

	padding: 2em;
	/* background-color: rgb(161, 158, 255, 0.3); */
	background-color: rgb(244, 164, 192, 0.3);
	border-radius: 6px;
}

/* .about section:nth-of-type(2) h2{
	color: var(--color-purple);
} */

.first-column{
	display: flex;
	flex-direction: column;
	gap: var(--size-4xl);
}

.skills {
	display: flex;
	justify-content: space-around;
}

/* .about section:nth-of-type(2) div:nth-of-type(2) div div{
	display: flex;
	flex-direction: column;
} */

/* .about section:nth-of-type(2) div:nth-of-type(2) img{
	width: 4em;
} */

.skills p{
	font-size: var(--size-xxs);
	text-align: center;
}

/* soft skills */
.about section:nth-of-type(2) ul{
	list-style: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding-left: 0;
	
	justify-content: space-between;
}

.about section:nth-of-type(2) ul li{
	border: 3px solid var(--color-pink);
	color: var(--color-pink);

	/* border: 3px solid var(--color-purple);
	color: var(--color-purple); */
	background-color: var(--color-background);
	padding: 0.5em;
	border-radius: 25px;
}

/* hobbies section */
.about section:nth-of-type(3){
	margin-top: var(--size-4xl);

	/* display: flex;
	flex-direction: column;
	gap: var(--size-4xl); */

	padding: 2em;
	background-color: rgb(161, 158, 255, 0.3);
	/* background-color: rgb(244, 164, 192, 0.3); */
	border-radius: 6px;
}

.about section:nth-of-type(3) h2{
	color: var(--color-purple);
}
.about section:nth-of-type(3) div div{
	background-color: var(--color-background);
	padding: 2em;
	margin-top: var(--size-xl);
	border-radius: 6px;
}




/* md */
@media (min-width: 768px) {
	.about section:nth-of-type(1){
		display: flex;
		gap: var(--size-4xl);
	}


	.about section:nth-of-type(1) p{
		margin-bottom: var(--size-base);
	}

	.about section:nth-of-type(1){
		/* margin-top: var(--size-2xl); */
		margin-top: var(--size-6xl);
	}

	.about section:nth-of-type(1){
		margin-bottom: var(--size-8xl);
	}

	.about section:nth-of-type(1) img{
		height: 20em;
		
		width: 17em;
	}
	
}

/* lg */
@media (min-width: 1024px) {
	.about section:nth-of-type(1) img{
		/* height: fit-content; */

		height: 25em;
		width: 20em;
	}
	
	.about section:nth-of-type(1){
		margin-bottom: var(--size-8xl);
	}

	.about section:nth-of-type(1){
		gap: var(--size-6xl);
	}

	.about section:nth-of-type(1) a {
		font-size: var(--size-xl);
	}

	.skills p{
		font-size: var(--size-xs);
	}
	

}

/* xl */
@media (min-width: 1280px) {
	.about section:nth-of-type(1) img{
		height: inherit;
		width: 30em;
	}

	.about p{
		font-size: var(--size-xl);
	}

	.about section:nth-of-type(1){
		gap: var(--size-6xl);
	}

	.skills p{
		font-size: var(--size-base);
	}

	.about section:nth-of-type(2) ul li {
		font-size: var(--size-xl);
	}
	

}


/* lg */
@media (min-width: 1024px){

	.about section:nth-of-type(2) {
		display: flex;
		flex-direction: row;
		gap: var(--size-5xl);
	}

	.first-column {
		width: 60%;
	}

	.second-column{
		width: 40%;
	}
	

}

/* play pagina */

.play h1, .play h2 {
	color: var(--color-pink);
}

.play section{
	margin-bottom: var(--size-2xl);
}

.illustrations, .illustrations div{
	display: flex;
	flex-direction: column;
	/* gap: var(--size-2xl); */
}

.illustrations img{
	margin-bottom: var(--size-2xl);
}

.illustrations img:hover{}

/* md */
@media (min-width: 768px) {
	/* .illustrations{
		display: flex;
		max-width: 100%;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.illustrations img{
		width: 40%;
		height: fit-content;

	} */


	.illustrations div{
		width: 95%;
	}

	.illustrations {
		flex-direction: row;
		gap: var(--size-2xl);
	}

	.play h1, .case h1{
		font-size: var(--size-3xl);
		margin-top: var(--size-6xl);
	}
}

/* xl homepage*/
@media (min-width: 1280px) {
	.play h1, .case h1{
		font-size: var(--size-5xl);
	}

	.play h2, .case h2{
		font-size: var(--size-3xl);
	}
	
	p{
		font-size: var(--size-lg);
	}
	
}


/* case page styling */
.case h1, .case h2 {
	color: var(--color-pink);
}




/* md */
@media (min-width: 768px) {
	.dunkin section:nth-of-type(1){
		/* margin-top: var(--size-2xl); */
		margin-top: var(--size-6xl);
	}

}

/* beyond sleep */
.beyond div {
	padding: 2em;
	background-color: rgb(244, 164, 192, 0.3);
	border-radius: 6px;
	margin-top: var(--size-base);
}






/* dunkin */