*, *::after, *::before {
    box-sizing:border-box;  
  }

  :root {
	--color-text:#040316;
	--color-background:#FBE5F2;
	--color-accent: #443DFF;
	--color-pink: #D35598;
	--color-purple: #A19EFF;
}


@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

@font-face {
	font-family: 'Sora-Regular';
	src: url('../fonts/Sora-Regular.woff2') format('woff2'),
		 url('../fonts/Sora-Regular.woff') format('woff'),
		 url('../fonts/Sora-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Sora-Bold';
	src: url('../fonts/Sora-Bold.woff2') format('woff2'),
		 url('../fonts/Sora-Bold.woff') format('woff'),
		 url('../fonts/Sora-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

*{
	margin: 0;
	/* color: var(--color-text); */
}

header nav{
	margin: 0em 6em 0 6em;
	font-size: 20px;
}

header nav ul {
	display: flex;
	gap: 0.7em;
	padding: 2em;
	list-style: none;
	text-align: center;
	background-color: var(--color-background);
	justify-content: flex-end;
}
 
header nav a {
	text-decoration: none;
}

body{
	font-family: 'ClashDisplay-Semibold' , Helvetica ;
	color:var(--color-text);
	background-color: var(--color-background);
	font-size: 16px;
}

p, nav{
	font-family: 'Sora-Regular' , Helvetica ;
	text-align: justify;
}

main{
	padding: 1.3em;
	display: flex;
	flex-direction: column;
	row-gap: 1.3em;
	margin: 7em 6em 0 6em;
}

img{
	max-width: 100%;
	display: block;
	height: fit-content;
}

h1 {
	font-family: 'ClashDisplay-Semibold' , Helvetica ;
	font-size: 60px;
}

h1 span{
	color: var(--color-pink);
	text-decoration: underline;
}

section {
	display: flex;
	justify-content: space-between;

}

section div{
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 42em;
}


section:nth-child(1){
	margin-bottom: 15em;
}

section:nth-of-type(1) img{
	max-width: 22em;
}

section:nth-of-type(1) div {
	justify-content: center;
}


section:nth-child(2) div{
	gap: 0.4em;
}

section:nth-child(2){
	justify-content: flex-start;
	gap: 8em;
}

section ul {
	list-style: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

section ul li {
	border: 3px solid var(--color-pink);
	padding: 0.5em;
	border-radius: 25px;
}